<div class="input-info step-info-tip" data-item-index="{{id}}">
<a class="step-info-tip__close">Close Info</a>
  <div class="step-info-tip__inner">
    <div class="input-info-block ">
      <div class="input-info-block__title">
        <h2 class="font-blue--dark">Assignment type: {{{title}}}</h2>
      </div>
      <div class="input-info-block__text">
        {{#each description}}
        <p>
          {{{this}}}
        </p>
        {{/each}}
      </div>

      
    </div>
    <div class="input-info-block">
      <div class="input-info-block--two-columns">
        <div class="input-info-block__title">
          <h2 class="font-blue--dark">Minimum timeline</h2>
        </div>
        <div class="input-info-block__stat">
          {{{min_timeline}}}
        </div>
      </div>
      <div class="input-info-block--two-columns">
        <div class="input-info-block__title">
          <h2 class="font-blue--dark">Recommended timeline</h2>
        </div>
        <div class="input-info-block__stat">
          {{{rec_timeline}}}
        </div>
      </div>
    </div>

    <div class="input-info-block">
      <div class="input-info-block--two-columns">
        <div class="input-info-block__title">
          <h2 class="font-blue--dark">Best for</h2>
        </div>
        <ul>
          {{#each best_for}}
          <li class="input-info-block__stat">{{{this}}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="input-info-block--two-columns">
        <div class="input-info-block__title">
          <h2 class="font-blue--dark">Not appropriate for</h2>
        </div>
        <ul>
          {{#each not_for}}
          <li class="input-info-block__stat">{{{this}}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="input-info-block">
      <div class="input-info-block__title">
        <h2 class="font-blue--dark">Learning Objectives</h2>
      </div>
      {{#each learning_objectives}}
      <div class="input-info-block--grid">
        <div class="input-info-block__stat">{{text}} : {{stars}}</div>
      </div>
      {{/each}}
    </div>
  </div>
</div>