<!--
  Author: kevin@wintr.us
  Date: 10/02/2014

  Description: Home Page Template
-->

<!-- MAIN APP CONTENT -->
<div class="content">


  <!-- STEPS MAIN CONTAINER -->
  <div class="steps"></div><!-- end .steps -->


</div><!-- end .content -->

<script id="course-details" type="x-handlebars-template">​
\{{course details | course_name = {{intro.course_name.value}} | instructor_username = {{intro.instructor_username.value}} | instructor_realname = {{intro.teacher.value}} | subject = {{intro.subject.value}} | start_date = {{intro.wizard_start_date.value}} | end_date = {{intro.wizard_end_date.value}} | institution = {{intro.school.value}} | expected_students = {{intro.students.value}} }}
​</script>   