<!--
  Author: kevin@wintr.us
  Date: 10/02/2014

  Description: Input Item Templates
  
-->


{{!-- CHECKBOX --}}
{{#if type.checkbox}}
<div class="info-arrow"></div>
<div class="custom-input custom-input--checkbox {{#if data.selected}} checked {{/if}} {{#if data.disabled}} not-editable {{else}} editable {{/if}}" {{#if data.exclusive}} data-exclusive="true" {{/if}}>
  <label for="{{data.id}}"><span>{{data.label}}</span></label>
  <input name="{{data.id}}" type="checkbox" id="{{data.id}}" {{#if data.selected}} checked {{/if}}  />
  <a class="check-button" href="#"></a>
  <div class="info-icon"></div>
</div>
{{/if}}



{{!-- CHECKBOX --}}
{{#if type.radioBox}}
<div class="info-arrow"></div>
<div class="custom-input custom-input--checkbox custom-input--radiobox {{#if data.selected}} checked {{/if}}" {{#if data.exclusive}} data-exclusive="true" {{/if}}>
  <label for="{{data.id}}"><span>{{data.label}}</span></label>
  <input name="{{data.id}}" type="radio" id="{{data.id}}" {{#if data.selected}} checked {{/if}}  />
  <a class="radio-button" href="#"></a>
  <div class="info-icon"></div>
</div>
{{/if}}


{{!-- TEXT --}}
{{#if type.text}}
<div class="custom-input custom-input--text">
  <div class="custom-input--text__inner">
    <label for="{{data.id}}">{{data.label}}</label>
    <input id="{{data.id}}" name="{{data.id}}" type="{{data.type}}" value="{{data.value}}" />
  </div>
</div>
{{/if}}

{{!-- PERCENT --}}
{{#if type.percent}}
<div class="custom-input custom-input--percent">
  <div class="custom-input--percent__inner">
    <label for="{{data.id}}">{{data.label}}</label>
    <div class="input-container">
    <div class="icon icon--percent"></div>
    <div class="icon icon--points">points</div>
    <input name="{{data.id}}" id="{{data.id}}" type="{{data.type}}" value="{{data.value}}" maxlength="2" />
    </div>
  </div>
</div>
{{/if}}

{{!-- EDIT --}}
{{#if type.edit}}
<div class="custom-input custom-input--edit custom-input-accordian">
  <a class="edit-button" href="#" data-step-id="{{data.id}}">[edit]</a>
  <div class="custom-input--edit__inner custom-input-accordian__header">
    <label for="{{data.id}}">{{data.label}}</label>
    
  </div>
  <div class="custom-input--edit__content custom-input-accordian__content">
    <ul>
      {{#each assignments}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>
{{/if}}


{{!-- TEXTAREA --}}
{{!-- {{#if type.textarea}}
<div class="custom-input custom-input--textarea">
  <label for="{{data.id}}">{{data.label}}</label>
  <textarea name="{{data.id}}" placeholder="{{data.placeholder}}" rows="{{data.rows}}"></textarea>
</div>
{{/if}} --}}


{{!-- LINK --}}
{{#if type.link}}
<div class="info-arrow"></div>
<div class="custom-input custom-input--link">
  <label><a href="{{data.href}}" >{{data.label}}</a></label>
  <div class="info-icon"></div>
</div>
{{/if}}

{{!-- RADIO --}}
{{#if type.radio}}
<div class="custom-input-radio-inner">
  <div class="custom-input-radio-inner__header">
    <h2 class="font-blue--dark">{{data.label}}</h2>
  </div>
  {{#each data.options}}
    <div class="custom-input custom-input--radio">
      <input name="{{id}}" id="{{value}}" value="{{value}}" type="radio" {{#if selected}} checked {{/if}}/>
      <label for="{{value}}">{{label}}</label>
      <a class="radio-button" href="#"></a>
    </div>
  {{/each}}
</div>
{{/if}}

{{!-- RADIO --}}
{{#if type.radioGroup}}
<div class="custom-input-radio-inner__header">
  <h2 class="font-blue--dark">{{data.label}}</h2>
</div>
<div class="custom-input-radio-inner custom-input-radio-inner--group">
  {{#each data.options}}
    <div class="custom-input custom-input--radio custom-input--radio-group {{#if selected}} checked {{/if}}">
      <a class="radio-button" href="#"></a>
      <label for="{{value}}">{{label}}</label>
      <input name="{{name}}" id="{{id}}" value="{{value}}" type="radio" {{#if selected}} checked {{/if}}/>
    </div>
  {{/each}}
</div>
{{/if}}



