<!--
  Author: kevin@wintr.us
  Date: 10/02/2014

  Description: Input Item Templates
  
-->


{{!-- CHECKBOX --}}
{{#if type.checkbox}}
<div class="custom-input custom-input--checkbox {{#if data.selected}} checked {{/if}}" {{#if data.exclusive}} data-exclusive="true" {{/if}}>
  <label for="{{data.id}}">{{data.label}}</label>
  <input name="{{data.id}}" type="checkbox" id="{{data.id}}" {{#if data.selected}} checked {{/if}}  />
  <a class="check-button" href="#"></a>
</div>
{{/if}}



{{!-- CHECKBOX GROUP --}}
{{#if type.checkboxGroup}}
<div class="custom-input-checkbox-group" data-checkbox-group="{{data.id}}">
  <div class="custom-input-checkbox-group__label">{{data.label}}</div>
  {{#each data.options}}
  <div class="custom-input custom-input--checkbox {{#if selected}} checked {{/if}}">
    <label for="{{id}}">{{label}}</label>
    <input name="{{id}}" type="checkbox" {{#if selected}} checked {{/if}} />
  </div>
  {{/each}}
</div>
{{/if}}



{{!-- SELECT --}}
{{#if type.select}}
<div class="custom-input custum-input--select {{#if data.multiple}} custum-input--select--multi {{/if}}">
  <label for="{{data.id}}">{{data.label}}</label>
  <select name="{{data.id}}" {{#if data.multiple}} multiple {{/if}}>
    {{#each data.options}}
      <option value="{{value}}">{{label}}</option>
    {{/each}}
  </select>
</div>
{{/if}}



{{!-- TEXT --}}
{{#if type.text}}
<div class="custom-input custom-input--text">
  <div class="custom-input--text__inner">
    <label for="{{data.id}}">{{data.label}}</label>
    <input name="{{data.id}}" type="{{data.type}}" value="{{data.value}}" placeholder="{{data.placeholder}}" />
  </div>
</div>
{{/if}}



{{!-- PERCENT --}}
{{#if type.percent}}
<div class="custom-input custom-input--percent">
  <div class="custom-input--percent__inner">
    <label for="{{data.id}}">{{data.label}}</label>
    <div class="input-container">
    <input name="{{data.id}}" type="{{data.type}}" value="{{data.value}}" placeholder="{{data.placeholder}}" maxlength="2" />
    </div>
  </div>
</div>
{{/if}}




{{!-- EDIT --}}
{{#if type.edit}}
<div class="custom-input custom-input--edit">
  <div class="custom-input--edit__inner">
    <label for="{{data.id}}">{{data.label}}</label>
    <a class="edit-button" href="#">edit</a>
  </div>
  <div class="custom-input--edit__content">
    <!-- content -->
  </div>
</div>
{{/if}}




{{!-- TEXTAREA --}}
{{#if type.textarea}}
<div class="custom-input custom-input--textarea">
  <label for="{{data.id}}">{{data.label}}</label>
  <textarea name="{{data.id}}" placeholder="{{data.placeholder}}" rows="{{data.rows}}"></textarea>
</div>
{{/if}}



{{!-- RADIO --}}
{{#if type.radio}}
<div class="custom-input-radio-inner">
  <div class="custom-input-radio-inner__header">
    <h2 class="font-blue--dark">{{data.label}}</h2>
  </div>
  {{#each data.options}}
    <div class="custom-input custom-input--radio">
      <input name="{{id}}" id="{{value}}" value="{{value}}" type="radio" {{#if selected}} checked {{/if}}/>
      <label for="{{value}}">{{label}}</label>
      <a class="radio-button" href="#"></a>
    </div>
  {{/each}}
</div>
{{/if}}



{{!-- RADIO --}}
{{#if type.radioGroup}}
<div class="custom-input-radio-inner__header">
  <h2 class="font-blue--dark">{{data.label}}</h2>
</div>
<div class="custom-input-radio-inner custom-input-radio-inner--group">
  
  {{#each data.options}}
    <div class="custom-input custom-input--radio custom-input--radio-group {{#if selected}} checked {{/if}}">
      <a class="radio-button" href="#"></a>
      <label for="{{value}}">{{label}}</label>
      <input name="{{id}}" id="{{value}}" value="{{value}}" type="radio" {{#if selected}} checked {{/if}}/>
    </div>
  {{/each}}
</div>
{{/if}}



