<div class="custom-input custom-input--percent">
  <div class="custom-input--percent__inner">
    <label for="{{data.id}}">{{data.label}}</label>
    <div class="input-container">
    <input name="{{data.id}}" type="{{data.type}}" value="{{data.value}}" placeholder="{{data.placeholder}}" maxlength="2" />
    </div>
  </div>
</div>