<div class="custom-input custom-input--text">
  <div class="custom-input--text__inner">
    <label for="{{data.id}}">{{data.label}}</label>
    <input name="{{data.id}}" type="{{data.type}}" value="{{data.value}}" placeholder="{{data.placeholder}}" />
  </div>
</div>